@import '~styles/_palette.scss';

.container {
	padding: 0.2rem;
	border: 0.1px solid $black;
	background: $gold;
	color: $black;
	cursor: pointer;
	transition: all .4s cubic-bezier(0.36, -1, 1, 2.65);

	&:hover {
		transform: scale(1.05, 1.15);
		font-weight: 600;
		background: $black;
		color: $gold;
	}
}
