.container {
	width: 400px;
	margin: auto;
	text-align: center;
}

.button {
	border: 2px solid black;
	background-color: yellow;
	cursor: pointer;
	font-weight: 600;
	font-size: 2rem;
	width: 200px;
	margin: 1rem;
}
