@import '../styles/box-shadow.scss';

.shadow {
	@include box-shadow(1px, 1px, 4px,#4c4a4a);
}

.container {
	width: 420px;
	padding: 10px;
	margin: 32px auto;
	text-align: center;
}

.button {
	border: 2px solid #000;
	background-color: #fbfb09;
	cursor: pointer;
	font-weight: 600;
	font-size: 2rem;
	width: 200px;
	margin: 2rem;
}
