@import '~styles/_box-shadow.scss';
@import '~styles/_palette.scss';

.container {
	background: $gold;
	@include box-shadow(1px, 1px, 4px,#4c4a4a);
	border: 2px solid $black-2;
	width: 15rem;
	margin: auto;

	div {
		font-size: 9rem;
		user-select: none;
		cursor: default;
	}

	a {
		display: inline-block;
		user-select: none;
		font-weight: bold;
		font-size: 3rem;
		cursor: pointer;
		border-radius: 0.2rem;
		padding: 0.2rem;
		margin: 1rem;
		width: 3.5rem;
		background: $black-2;
		color: $gold;
	}
}
