@import '~styles/_box-shadow.scss';
@import '~styles/_palette.scss';

.shadow {
	@include box-shadow(1px, 1px, 4px, $slate);
}

.container {
	padding: 2rem 1rem;
	margin: 32px auto;
	max-width: 420px;
	text-align: center;
}

.button {
	border: 2px solid $black;
	background-color: $gold;
	cursor: pointer;
	font-weight: 500;
	font-size: 2rem;
	margin: 2rem;
	width: 15rem;
}

.api-response {
	padding: 4px;

	span {
		display: inline-block;
		border-bottom: 1px solid $black-2;
		margin-bottom: 4px;
	}
}
